@tailwind base;
@tailwind components;
@tailwind utilities;
  
.auth__box{
  height: 64.35vh;
  background-color: white;
  width: 38vw;
}

.navbar{
  height: 60px;
}

.nav__input{
  border-radius: 14px;
  height: 38px;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.3)
}

.heading{
  font-size: 32px;
}

.bar-border{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 16px;
}

.th{
  background-color: rgb(107, 188, 56, 0.5);
  border-radius: 8px;
}

.delivered{
  background-color: rgb(0, 182, 155);
}

.pending{
  background-color: #fcbe2d;
}

.bg-selected{
  background-color: rgba(107, 188, 56, 0.5);
}

.account-box{
  border: 1px solid rgb(107, 188, 56);
  border-radius: 6px;
  overflow: hidden;
}

.account-box div{
  border-bottom: 1px solid rgb(107, 188, 56);
}

.rou{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .summary{
    flex-direction: column;
  }
}

.order-card{
  width: 400px;
}